//
// Variables
// --------------------------------------------------

// project settings
$tiho-blau: #006ab3;
$tiho-font-sans: "Droid Sans", sans-serif;
$tiho-font-serif: "Droid Serif", serif;


// overwrite bootstrap variables
$gray-base: rgb(0, 0, 0);
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: rgb(255, 255, 255);
$gray: rgb(149, 165, 166);
$gray-light: rgb(180, 188, 194);
$gray-lighter: rgb(236, 240, 241);
$primary: #e5ded0;
$secondary: $tiho-blau;
$success: rgb(110, 186, 107);
$info: #005a9e;
$warning: rgb(243, 156, 18);
$danger: rgb(231, 76, 60);
$brand-warning: $warning;

$text-color: rgb(0, 0, 0);
$link-color: $info;
$link-hover-color: $link-color;

$web-font-path: "https://webfonts.gbv.de/css?family=Roboto:400,700,400italic";
$font-family-sans-serif: Helvetica, Arial, sans-serif;
$line-height-base: 1.5;

$font-size-base: 1rem;

$h1-font-size: 2.875rem;
$h2-font-size: 2.125rem;
$h3-font-size: 1.25rem;

$font-weight-bold: 700 !default;
$font-weight-bolder: $font-weight-bold;

$navbar-light-color: black;
$navbar-light-hover-color: black;

$dropdown-bg: $primary;
$dropdown-color: black;
$dropdown-link-color: black;
$dropdown-link-hover-color: black;
$dropdown-link-hover-bg: transparent;
$dropdown-link-active-bg: $primary;

$pagination-color: black;
$pagination-bg: $primary;
$pagination-border-color: $primary;
$pagination-hover-color: white;
$pagination-hover-bg: $secondary;
$pagination-hover-border-color: $secondary;
$pagination-active-color: white;
$pagination-active-bg: $secondary;
$pagination-active-border-color: $secondary;
$pagination-disabled-color: $gray;
$pagination-disabled-bg: $gray-light;
$pagination-disabled-border-color: $gray-light;