/*  MIR / Boostrap layout quick fixes - ToDo: repair */

#powered_by {
  text-align: center;
  background-color: #E5DED0;
  border-top: 1px solid #e5ded0;
  padding: 0px 0px 2em 0px;
}

.flatmir-footer .nav > li > a {
  color: #939393;
}

.mir-main-nav nav .navbar-nav > li > a,
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a,
.dropdown-menu > li > a {
  color: #939393;
}

.mir-main-nav nav .navbar-nav .dropdown-menu > .active > a:hover,
.mir-main-nav nav .navbar-nav .dropdown-menu > .active > a:focus,
.mir-main-nav nav .navbar-nav .dropdown-menu > .active > a,
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:hover,
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:focus,
.mir-main-nav nav .navbar-nav > li > a:hover {
  background-color: #d3c7af;
}

.mir-main-nav nav .navbar-nav > li.active > a {
  color: #fff;
  background-color: #d3c7af;
}

.nav-link {
  padding: .5rem 2rem; 
}

.navbar .nav-link {
  padding: 20px 15px;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.171875rem;
  line-height: 1;
  background-color: #e5ded0;
  border: 1px solid #95a5a6;
  border-radius: 0;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.info-button {
  padding: 4px 12px;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #ecf0f1;
}

.flatmir-footer .dropdown-item {
  width: auto;
}

.breadcrumb {
  padding: .25rem 1rem;
}
