/* footer
 * - task description
 */

 // Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  #powered_by {
    text-align: center;
    background-color: white;
    border-top: 0px solid #e5ded0;
    padding: 1.5rem 0px;
  }

  .flatmir-footer {
    color: white;
    background-color: $tiho-blau;
    border-top: none;
  }

  .flatmir-footer .nav > li {
    & > a {
      color: white;
      padding: 0;
      &::after {
        content: "|";
        padding: 0.5rem;
      }
    }
    &:last-child > a{
      &::after {
        content: "";
      }
    }
  }

  .flatmir-footer {
    margin-top: 10rem;
    a {
      color: $text-color;
    }
  }

  .tiho-footer-card-box {
    display: block;
    width: 100%;
    //max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6.25rem;
  }

  .tiho-footer-card {
    color: $text-color;
    border-radius: .375rem 0 0 .375rem;
    padding: 5rem 8.75rem;
    background-color: #ece6da;
    margin-left: auto;
    margin-right: 0;
    width: calc(100% - 18.125rem);
    max-width: 120rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 250 400%27%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B opacity:0.12;%7D .cls-2,.cls-3,.cls-4,.cls-6,.cls-7,.cls-8,.cls-9 %7B fill:none;%7D .cls-3,.cls-4,.cls-6,.cls-7,.cls-8,.cls-9 %7B stroke:%23000;%7D .cls-3,.cls-4 %7B stroke-linejoin:round;%7D .cls-3,.cls-4,.cls-8,.cls-9 %7B stroke-width:2.99px;%7D .cls-4,.cls-6,.cls-9 %7B stroke-linecap:round;%7D .cls-5 %7B fill:%23000;%7D .cls-6,.cls-7,.cls-8,.cls-9 %7B stroke-miterlimit:2.613;%7D .cls-6 %7B stroke-width:2.47px;%7D .cls-7 %7B stroke-width:1.3px;%7D %3C/style%3E%3C/defs%3E%3Cg class=%27cls-1%27%3E%3Cpath class=%27cls-2%27 d=%27M249.407,1.495c22.021.033,34.367,2.315,45.906,2.956,11.742.644,17.736,5.354,29.437,6.5,22.575,2.218,21.605-8.839,57.656-7.808,23.436.668,24.158.738,39.3,3.445-2.181,12.244-22.612,19.672-25.242,32.332-2.014,9.659,15.644,17.34,20.916,30.9,10.964,28.141,11.865,52.873,14.849,82.078,1.631,15.778,1.382,33.734,10.719,49.835,8.318,14.356,21.973,19.269,36.74,52.135,48.506,108.005,3.89,232.486-36.74,355.777-37.159,112.788-69.81,206.641-80.251,243.066-4.925,17.141,14.063,35.109,37.115,52.812,15.689,24.386,8.028,36.438,8.028,36.438s-22.09-30.424-49.832-28.41c-28.137,2.043-58.349,40.75195-58.349,40.75195-24.891-21.715,19.893-62.173,19.893-62.173.261-.812-36.446-7.661-47.161,17.568-4.831,11.364-10.7-19.09,6.03-31.26,3.07-2.234,4.448-3.017,4.5-2.915.265.375-18.2,13.288-33.511,6.91-15.3,6.377-30.387-6.536-30.135-6.91.061-.1,1.427.681,4.51,2.915,16.733,12.17,10.858,42.62305,6.026,31.26-10.719-25.229-47.43-18.38-47.165-17.568,0,0,44.78,40.458,19.893,62.173,0,0-30.208-38.709-58.345-40.75195-27.742-2.014-49.84,28.41-49.84,28.41s-7.649-12.052,8.036-36.438c16.333-12.541,30.628-25.22094,35.818-37.641,2.141-5.109,2.732-10.168,1.3-15.171-10.454-36.426-43.092-130.27905-80.264-243.066-40.617-123.29-85.238-247.771-36.739-355.777,14.771-32.866,28.418-37.78,36.739-52.135,9.345-16.1,9.092-34.057,10.715-49.835,3-29.205,3.9-53.938,14.857-82.078,5.28-13.557,22.934-21.238,20.92-30.9-2.634-12.66-23.057-20.088-25.25-32.332,15.155-2.707,15.881-2.777,39.308-3.445,36.059-1.031,35.076,10.026,57.656,7.808,11.7-1.145,17.7-5.855,29.433-6.5,11.535-.64,20.5-2.923,42.525-2.956%27/%3E%3Cpath class=%27cls-3%27 d=%27M249.407,1.495c22.021.033,34.367,2.315,45.906,2.956,11.742.644,17.736,5.354,29.437,6.5,22.575,2.218,21.605-8.839,57.656-7.808,23.436.668,24.158.738,39.3,3.445-2.181,12.244-22.612,19.672-25.242,32.332-2.014,9.659,15.644,17.34,20.916,30.9,10.964,28.141,11.865,52.873,14.849,82.078,1.631,15.778,1.382,33.734,10.719,49.835,8.318,14.356,21.973,19.269,36.74,52.135,48.506,108.005,3.89,232.486-36.74,355.777-37.159,112.788-69.81,206.641-80.251,243.066-4.925,17.141,14.063,35.109,37.115,52.812,15.689,24.386,8.028,36.438,8.028,36.438s-22.09-30.424-49.832-28.41c-28.137,2.043-58.349,40.75195-58.349,40.75195-24.891-21.715,19.893-62.173,19.893-62.173.261-.812-36.446-7.661-47.161,17.568-4.831,11.364-10.7-19.09,6.03-31.26,3.07-2.234,4.448-3.017,4.5-2.915.265.375-18.2,13.288-33.511,6.91-15.3,6.377-30.387-6.536-30.135-6.91.061-.1,1.427.681,4.51,2.915,16.733,12.17,10.858,42.62305,6.026,31.26-10.719-25.229-47.43-18.38-47.165-17.568,0,0,44.78,40.458,19.893,62.173,0,0-30.208-38.709-58.345-40.75195-27.742-2.014-49.84,28.41-49.84,28.41s-7.649-12.052,8.036-36.438c16.333-12.541,30.628-25.22094,35.818-37.641,2.141-5.109,2.732-10.168,1.3-15.171-10.454-36.426-43.092-130.27905-80.264-243.066-40.617-123.29-85.238-247.771-36.739-355.777,14.771-32.866,28.418-37.78,36.739-52.135,9.345-16.1,9.092-34.057,10.715-49.835,3-29.205,3.9-53.938,14.857-82.078,5.28-13.557,22.934-21.238,20.92-30.9-2.634-12.66-23.057-20.088-25.25-32.332,15.155-2.707,15.881-2.777,39.308-3.445,36.059-1.031,35.076,10.026,57.656,7.808,11.7-1.145,17.7-5.855,29.433-6.5C218.415,3.811,227.384,1.528,249.407,1.495Z%27/%3E%3Cpath class=%27cls-4%27 d=%27M138.958,867.896c19.88-29.613,3.07-81.6-9.626-129.415-35.047-131.894-87.244-260.178-90.179-362.072-1.558-54.267,1.447-77.316,17.952-151.48,2.3-10.372,11.131-22.049,9.006-40.368m297.3,684.892c-21.593-29.323-4.4-82.3,8.517-130.972,35.036-131.894,87.256-260.178,90.175-362.072,1.562-54.267-1.448-77.316-17.944-151.48-2.308-10.372-11.127-22.049-9-40.368%27/%3E%3Cpath class=%27cls-5%27 d=%27M242.368,339.996c.208,10.173.42,15.913.958,26.066.563,10.56.991,16.508,1.932,27.04m37.8,148.76105c-.2,10.165-.416,15.905-.97,26.06994-.559,10.556-.991,16.509-1.912,27.04m15.387,81.95606a117.28043,117.28043,0,0,1-15.387,49.265m71.93-261.919a157.93707,157.93707,0,0,1-7.29,32.275,156.09654,156.09654,0,0,1-9.712,24.149m47.136-183.584c1.986,10.319,1.761,16.774-.958,26.938a52.14523,52.14523,0,0,1-10.034,20.611M163.377,622.004c-1.541,10.8-1.084,17.422,1.937,27.884a57.52646,57.52646,0,0,0,10.022,20.639M145.193,314.004a87.52372,87.52372,0,0,0,8.028,51.491m9.2,97.592a87.54494,87.54494,0,0,0,8.024,51.5%27/%3E%3Cpath class=%27cls-6%27 d=%27M242.368,339.996c.208,10.173.42,15.913.958,26.066.563,10.56.991,16.508,1.932,27.04m37.8,148.76105c-.2,10.165-.416,15.905-.97,26.06994-.559,10.556-.991,16.509-1.912,27.04m15.387,81.95606a117.28043,117.28043,0,0,1-15.387,49.265m71.93-261.919a157.93707,157.93707,0,0,1-7.29,32.275,156.09654,156.09654,0,0,1-9.712,24.149m47.136-183.584c1.986,10.319,1.761,16.774-.958,26.938a52.14523,52.14523,0,0,1-10.034,20.611M163.377,622.004c-1.541,10.8-1.084,17.422,1.937,27.884a57.52646,57.52646,0,0,0,10.022,20.639M145.193,314.004a87.52372,87.52372,0,0,0,8.028,51.491m9.2,97.592a87.54494,87.54494,0,0,0,8.024,51.5%27/%3E%3Cpath class=%27cls-5%27 d=%27M143.239,104.237a21.305,21.305,0,1,1,21.305,21.305h-.01a21.3,21.3,0,0,1-21.3-21.3v-.007%27/%3E%3Cpath class=%27cls-7%27 d=%27M143.239,104.237a21.305,21.305,0,1,1,21.305,21.305h-.01a21.3,21.3,0,0,1-21.295-21.30493Z%27/%3E%3Cpath class=%27cls-8%27 d=%27M210.056,105.427c0-11.922-9.006-18.686-18.714-25.686-7.465-5.386-15.444-10.421-24.573-12.5-23.305-5.325-43.283,17.1-43.283,38.191s19.379,38.187,43.283,38.187,43.288-17.1,43.288-38.187%27/%3E%3Cpath class=%27cls-9%27 d=%27M249.532,181.769c-6.01-10.067-11.375-11.257-14.013-20.125-9.508-31.937-8.473-49.289-29.49-70.3-24.847-24.851-49.9-28.129-85.458-28.492%27/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 10.625rem auto;
    background-position: bottom right;
    background-size: 13.125rem auto;
    ul {
      list-style: none;
      padding: 0;
    }
    h3 {
      position: relative;
      margin-top: 0;
      padding-top: .625rem;
      border-top: .0625rem solid rgba(0,0,0,.3);
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0;
      color: black;
      &::before {
        content: " ";
        display: block;
        width: 70%;
        max-width: 12.5rem;
        min-width: 6.25rem;
        height: .1875rem;
        background-color: #000;
        position: absolute;
        left: 0;
        top: -.125rem;
      }
    }
  }

  .tiho-footer-nav {
    padding: 2.5rem 0;
  }

  .flatmir-footer .dropdown-item {
    width: auto;
  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
  .tiho-footer-card {
    padding: 5rem 5rem;
  }
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  .tiho-footer-card {
    width: calc(100% - 4.375rem);
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
  .tiho-footer-card {
    padding: 2.5rem 2.5rem;
    width: calc(100% - .9375rem);
  }
  .flatmir-footer .nav > li {
    & > a {
      &::after {
        content: "";
      }
    }
  }
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
