// --------------------------------------------------
// Fonts
// --------------------------------------------------

//$web-font-path: "https://webfonts.gbv.de/css?family=Roboto:400,700,400italic";
$font-family-sans-serif: Helvetica, Arial, sans-serif;

// --------------------------------------------------
// Brand colors
// --------------------------------------------------
$gray-base: rgb(0, 0, 0);
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: rgb(255, 255, 255);
$gray: rgb(149, 165, 166);
$gray-light: rgb(180, 188, 194);
$gray-lighter: rgb(236, 240, 241);
$brand-primary: #e5ded0;
$brand-success: rgb(110, 186, 107);
$brand-info: #005a9e;
$brand-warning: rgb(243, 156, 18);
$brand-danger: rgb(231, 76, 60);


// --------------------------------------------------
// Text and link colors
// --------------------------------------------------
$text-color: rgb(0, 0, 0);
$link-color: $brand-info;
$link-hover-color: $link-color;


// --------------------------------------------------
// Button colors
// --------------------------------------------------
$btn-default-color: rgb(0,0,0);
$btn-default-bg: $gray;
$btn-default-border: $btn-default-bg;
$btn-primary-color: $btn-default-color;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $btn-primary-bg;
$btn-success-color: $btn-default-color;
$btn-success-bg: $brand-success;
$btn-success-border: $btn-success-bg;
$btn-info-color: $btn-default-color;
$btn-info-bg: $brand-info;
$btn-info-border: $btn-info-bg;
$btn-warning-color: $btn-default-color;
$btn-warning-bg: $brand-warning;
$btn-warning-border: $btn-warning-bg;
$btn-danger-color: $btn-default-color;
$btn-danger-bg: $brand-danger;
$btn-danger-border: $btn-danger-bg;
